<!-- BEGINNER CHINESE -->
<!-- 59b9d62db7bcaed219bec6cd -->
<!-- db.metacards.insert( { order: 0, course: ObjectId("59b9d62db7bcaed219bec6cd"), notes: "" }) -->

<!-- ORDER: 0 -->

<!-- 59ffa9dc470d264f255b7049 -->
<div class='metacard-title'>Pinyin Tones</div>
<p>Chinese is a language that uses different tone inflections to distinguish between similar characters. Every character has a tone and there are a total of five distinct tones. When the characters are represented in Pinyin, which is the standard way to depict the character phonetically, the tone is written with line(s) on top of the word.</p>
<h4><span style='width: 22%;'>ā</span> <span style='width: 22%;'>á</span> <span style='width: 22%;'>ǎ</span> <span style='width: 22%;'>à</span></h4>

<!-- 59ffaa93470d264f255b704a -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>First tone: <span>ā</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button></h4>
<p>The first tone is level. It is represented with a straight horizontal line.</p>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>bā</p>
        <p class='hanyu'>八 eight</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>mā</p>
        <p class='hanyu'>妈 mother</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yī</p>
        <p class='hanyu'>一 one</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>wān</p>
        <p class='hanyu'>弯 to bend</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>chū</p>
        <p class='hanyu'>出 out</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yōu</p>
        <p class='hanyu'>优 excellent</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 59ffab28470d264f255b704b -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>Second tone: <span>á</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button></h4>
<p>The second tone rises in pitch. It is represented with an upward diagonal line.</p>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>bá</p>
        <p class='hanyu'>拔 to pull</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>má</p>
        <p class='hanyu'>麻 hemp</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yí</p>
        <p class='hanyu'>宜 should</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>wán</p>
        <p class='hanyu'>玩 to play</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>chú</p>
        <p class='hanyu'>除 except</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yóu</p>
        <p class='hanyu'>由 from</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 59ffab51470d264f255b704c -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>Third tone: <span>ǎ</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button></h4>
<p>The third tone falls and rises. It is represented with a line that dips down and then up.</p>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>bǎ</p>
        <p class='hanyu'>把 to put</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>mǎ</p>
        <p class='hanyu'>马 horse</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yǐ</p>
        <p class='hanyu'>以 to</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>wǎn</p>
        <p class='hanyu'>晚 night</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>chǔ</p>
        <p class='hanyu'>楚 clear</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yǒu</p>
        <p class='hanyu'>有 to have</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 59ffab7e470d264f255b704d -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>Fourth tone: <span>à</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button></h4>
<p>The fourth tone falls in pitch. It is represented with a downward diagonal line.</p>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>bà</p>
        <p class='hanyu'>爸 father</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>mà</p>
        <p class='hanyu'>骂 to curse</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yì</p>
        <p class='hanyu'>易 easy</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>wàn</p>
        <p class='hanyu'>万 ten thousand</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>chù</p>
        <p class='hanyu'>处 place</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>yòu</p>
        <p class='hanyu'>右 right</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 59ffaba6470d264f255b704e -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>Fifth tone: <span>a</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button></h4>
<p>The fifth tone is a neutral-pitch tone. It is represented with no line.</p>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>ba</p>
        <p class='hanyu'>吧</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ma</p>
        <p class='hanyu'>吗</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>de</p>
        <p class='hanyu'>的</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>me</p>
        <p class='hanyu'>么</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>le</p>
        <p class='hanyu'>了</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ne</p>
        <p class='hanyu'>呢</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- QUIZ -->

<!-- 5a03aafc570201866e38278f -->
<div class='metacard-title'>Pinyin Alphabet</div>
<p>Now that you learned about the five different tones in Chinese, the next step is to combine the tones with the actual pronunciation of the characters. Certain consonant and vowel sounds are different than they are pronounced in English. For example, the 'q' sound is said with a 'ch' sound rather than a 'k' sound in Chinese.</p>

<!-- 5a03ab5c570201866e382790 -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Consonants 1</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>b (bō)</p>
        <p class='hanyu'>波</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>p (pò)</p>
        <p class='hanyu'>破</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>m (mō)</p>
        <p class='hanyu'>摸</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>f (fú)</p>
        <p class='hanyu'>佛</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>d (dà)</p>
        <p class='hanyu'>大</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>t (tā)</p>
        <p class='hanyu'>他</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>n (nà)</p>
        <p class='hanyu'>那</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>l (lā)</p>
        <p class='hanyu'>拉</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5a03aba9570201866e382791 -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Consonants 2</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>g (gē)</p>
        <p class='hanyu'>哥</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>k (kē)</p>
        <p class='hanyu'>科</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>h (hā)</p>
        <p class='hanyu'>哈</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>j (jī)</p>
        <p class='hanyu'>機</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>q (qì)</p>
        <p class='hanyu'>气</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>x (xī)</p>
        <p class='hanyu'>西</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>zh (zhī)</p>
        <p class='hanyu'>之</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ch (chī)</p>
        <p class='hanyu'>吃</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>sh (shì)</p>
        <p class='hanyu'>是</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5a06b3b366dc08738fb97cba -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Consonants 3</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>r (rì)</p>
        <p class='hanyu'>日</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>z (zi)</p>
        <p class='hanyu'>子</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>c (cǐ)</p>
        <p class='hanyu'>此</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>s (sì)</p>
        <p class='hanyu'>四</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>y (yì)</p>
        <p class='hanyu'>意</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>w (wèi)</p>
        <p class='hanyu'>為</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5a06b4e666dc08738fb97cbb -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Vowel Finals 1</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>a (dà)</p>
        <p class='hanyu'>大</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ai (dài)</p>
        <p class='hanyu'>帶</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>an (dān)</p>
        <p class='hanyu'>單</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ang (bāng)</p>
        <p class='hanyu'>幫</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ao (dāo)</p>
        <p class='hanyu'>刀</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>e (dé)</p>
        <p class='hanyu'>德</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ei (gěi)</p>
        <p class='hanyu'>給</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>en (běn)</p>
        <p class='hanyu'>本</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>eng (fēng)</p>
        <p class='hanyu'>風</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5a06b51166dc08738fb97cbc -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Vowel Finals 2</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>er (er)</p>
        <p class='hanyu'>兒</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>i (yī)</p>
        <p class='hanyu'>一</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ia (jiā)</p>
        <p class='hanyu'>家</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ian (nián)</p>
        <p class='hanyu'>年</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>iang (liáng)</p>
        <p class='hanyu'>良</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>iao (liǎo)</p>
        <p class='hanyu'>了</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ie (liè)</p>
        <p class='hanyu'>烈</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>in (lín)</p>
        <p class='hanyu'>林</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ing (bīng)</p>
        <p class='hanyu'>冰</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5a06b54666dc08738fb97cbd -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Vowel Finals 3</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>iong (qióng)</p>
        <p class='hanyu'>兒</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>iu (niú)</p>
        <p class='hanyu'>牛</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>o (fó)</p>
        <p class='hanyu'>佛</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ong (dōng)</p>
        <p class='hanyu'>東</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ou (fǒu)</p>
        <p class='hanyu'>否</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>u (bù)</p>
        <p class='hanyu'>不</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ua (guā)</p>
        <p class='hanyu'>瓜</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>uai (guài)</p>
        <p class='hanyu'>怪</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>uan (guǎn)</p>
        <p class='hanyu'>管</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5a06b56266dc08738fb97cbe -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Vowel Finals 4</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>uang (guāng)</p>
        <p class='hanyu'>光</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ue (jué)</p>
        <p class='hanyu'>決</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ui (duì)</p>
        <p class='hanyu'>對</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>un (jūn)</p>
        <p class='hanyu'>均</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>uo (duō)</p>
        <p class='hanyu'>多</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
    <li>
        <p class='pinyin'>ü (lǚ)</p>
        <p class='hanyu'>旅</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio()'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- ORDER: 3 -->

<!-- 5a0a332da635730013e0ffe9 -->
<div class='metacard-title'>Character Radicals</div>
<p>Even though you can type Chinese on a keyboard using Pinyin, writing Chinese is a different story. A Chinese radical is a graphical component of a Chinese character. Together, the radicals make up the written structure of the character, and often give it semantic or phonetic meaning. The shape and position of these radicals are also important.</p>
<h4><span style='width: 18%;'>亻</span> <span style='width: 18%;'>扌</span> <span style='width: 18%;'>也</span> <span style='width: 18%;'>⽑</span> <span style='width: 18%;'>⼏</span></h4>

<!-- 5a0a89c5a857210edbf9ce9b -->
<div class='metacard-title'>Character Radicals</div>
<h4>Radicals 1</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>.....tā</p>
        <p class='hanyu'>亻 + 也 = 他</p>
        <p><span style='color: #00cc96;'>亻</span> person</p>
    </li>
    <li>
        <p class='pinyin'>.....tā</p>
        <p class='hanyu'>女 + 也 = 她</p>
        <p><span style='color: #00cc96;'>女</span> female</p>
    </li>
    <li>
        <p class='pinyin'>.....hǎo</p>
        <p class='hanyu'>女 + 子 = 好</p>
        <p><span style='color: #00cc96;'>子</span> child/son</p>
    </li>
    <li>
        <p class='pinyin'>.....wǎn</p>
        <p class='hanyu'>日 + 免 = 晚</p>
        <p><span style='color: #00cc96;'>日</span> sun</p>
    </li>
    <li>
        <p class='pinyin'>.....ān</p>
        <p class='hanyu'>宀 + 女 = 安</p>
        <p><span style='color: #00cc96;'>宀</span> roof</p>
    </li>
    <li>
        <p class='pinyin'>.....nán</p>
        <p class='hanyu'>田 + 力 = 男</p>
        <p><span style='color: #00cc96;'>力</span> strength</p>
    </li>
</ul>

<!-- 5a0a8f03a857210edbf9ce9c -->
<div class='metacard-title'>Character Radicals</div>
<h4>Radicals 2</h4>
<ul class='hanyu-pinyin'>
    <li>
        <p class='pinyin'>.....bà</p>
        <p class='hanyu'>尣 + 巴 = 爸</p>
        <p><span style='color: #00cc96;'>尣</span> father, <span style='color: #00cc96;'>巴</span> bā</p>
    </li>
    <li>
        <p class='pinyin'>.....mā</p>
        <p class='hanyu'>女 + 马 = 妈</p>
        <p><span style='color: #00cc96;'>女</span> female, <span style='color: #00cc96;'>马</span> mǎ</p>
    </li>
    <li>
        <p class='pinyin'>.....gē</p>
        <p class='hanyu'>可 + 可 = 哥</p>
        <p><span style='color: #00cc96;'>可</span> kě</p>
    </li>
    <li>
        <p class='pinyin'>.....nǐ</p>
        <p class='hanyu'>亻 + 尔 = 你</p>
        <p><span style='color: #00cc96;'>亻</span> person, <span style='color: #00cc96;'>尔</span> you</p>
    </li>
    <li>
        <p class='pinyin'>.....mēn</p>
        <p class='hanyu'>亻 + 门 = 们</p>
        <p><span style='color: #00cc96;'>亻</span> person, <span style='color: #00cc96;'>门</span> mén</p>
    </li>
    <li>
        <p class='pinyin'>.....jiā</p>
        <p class='hanyu'>宀 + 豕 = 家</p>
        <p><span style='color: #00cc96;'>宀</span> roof, <span style='color: #00cc96;'>豕</span> hog</p>
    </li>
</ul>
