<div class="start-page">
	<img src="images/icon.png" class="icon">
	<h2>Learn a language today</h2>
			<div class="list">
				<div class="item item-avatar">
				  	<img src="images/cards.png">
				  	<h2>Interactive cards</h2>
				</div>
				<div class="item item-avatar">
				  	<img src="images/progress.png">
				  	<h2>Engaging exercises</h2>
				</div>
				<div class="item item-avatar">
				  	<img src=images/social.png>
				  	<h2>Social community</h2>
				</div>
			</div>
			<div class="start-footer">
				<button type="button" class="btn btn-primary btn-full-stretch" ui-sref="getStarted">Get Started</button>
				<button type="button" class="btn btn-clear" ui-sref="login">Login</button>
			</div>
	<p class="caption">New York City, New York</p>
</div>