<div class="settings-page">
		<div class="list">
			<!-- <div class="list-header">INVITE</div>
			<a class="item item-avatar">
		    	<img src="images/facebook-icon-blue.png">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2>Facebook Friends</h2>
		  	</a>
		  	<a class="item item-avatar">
		    	<img src="images/contacts-icon-green.png">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2>Contacts</h2>
		  	</a> -->
		  	
		  	<div class="list-header" class="account-trans">Account</div>
		  	<a class="item" ui-sref="changePassword">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2 class="change-password-trans">Change Password</h2>
		  	</a>
		  	<!-- <a class="item">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2>Blocked Users</h2>
		  	</a>
		  	<a class="item">
		    	<h2>Private Account</h2>
		    	<label class="switch">
				  <input type="checkbox" checked>
				  <div class="slider round"></div>
				</label>
		  	</a> -->
		  	
		  	<div class="list-header" class="settings-trans">Settings</div>
		  	<a class="item" ui-sref="languages">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2 class="languages-trans">Languages</h2>
		  	</a>
		  	<!-- <a class="item">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2>Cellular Data Use</h2>
		  	</a> -->
		  	
		  	<div class="list-header" class="support-trans">Support</div>
		  	<a class="item" ui-sref="faq">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2 class="faq-trans">FAQ</h2>
		  	</a>
		  	<a class="item" ui-sref="report">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2 class="report-trans">Report</h2>
		  	</a>
		  	
		  	<!-- <div class="list-header" class="about-trans">About</div>
		  	<a class="item" ui-sref="ads">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2 class="ads-trans">Ads</h2>
		  	</a>
		  	<a class="item" ui-sref="blog">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2 class="blog-trans">Blog</h2>
		  	</a>
		  	<a class="item" ui-sref="about">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2 class="about-trans">About</h2>
		  	</a> -->
		  	<!-- <a class="item">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2>Privacy Policy</h2>
		  	</a>
		  	<a class="item">
		    	<p class="item-right"><i class="ion-chevron-right"></i></p>
		    	<h2>Terms</h2>
		  	</a> -->
		  	
		  	<div class="list-header"></div>
		  	<a class="item">
		  		<button type="button" class="btn btn-danger btn-full-stretch log-out-trans" ng-click="logOut()">Log Out</button>
		  	</a>
		</div>
	</div>