<!DOCTYPE html>
<html>
  <head>
    <title>Dreamemo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='public/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Satisfy|Courgette" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="public/javascripts/app.js"></script>
  </head>
  <body ng-app="dreamemo" ng-controller="MainCtrl">
  	<nav class="navbar header">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="header-tab" id="home-tab" ng-click="go('home')" class="navbar-brand"><img src="../public/images/icon.png" class="app-icon">Dreamemo</span>
			</div>
			<ul class="navbar-header nav navbar-nav">
				<!-- <li class="header-tab" id="about-tab"><span ng-click="go('about')">About</span></li> -->
				<li class="header-tab" id="faq-tab"><span ng-click="go('faq')">FAQ</span></li>
				<li class="header-tab" id="contact-tab"><span ng-click="go('contact')">Contact</span></li>
			</ul>
		</div>
	</nav>
	<ui-view></ui-view>
	<script type="text/ng-template" id="/home.html">
		<div class="page">
			<div class="bg"></div>
			<div class="col-xs-8">
				<div class="title main-title">Calm. Ambience. Dreams.</div>
				<div class="subtitle">Dreamemo is your personal dream journal where you can record daily entries about your dreams, feelings, and moods.</div>
				<a href="https://itunes.apple.com/us/app/dreamemo/id1248719800?ls=1&mt=8"><img src="../public/images/available-on-app-store.png" class="app-store"></a>
			</div>
			<div class="col-xs-4">
				<img src="../public/images/screenshot1.png" class="active screenshot" id="scrn1">
				<img src="../public/images/screenshot2.png" class="screenshot" id="scrn2">
				<img src="../public/images/screenshot3.png" class="screenshot" id="scrn3">
				<img src="../public/images/screenshot4.png" class="screenshot" id="scrn4">
				<div class="scrn-buttons">
					<button type="button" class="scrn-btn" ng-click="prev()"><img src="../public/images/prev.png"></button>
					<button type="button" class="scrn-btn" ng-click="next()" style="left: 250px;"><img src="../public/images/next.png"></button>
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="/about.html">
		<div class="page">
			<div class="bg"></div>
		</div>
	</script>
	<script type="text/ng-template" id="/faq.html">
		<div class="page">
			<div class="bg"></div>
			<div class="title title-left">FAQ</div>
			<ul class="faq-list">
				<li ng-repeat="question in questions" class="question-container">
					<div class="question">{{ question.question }}</div>
					<div class="answer">{{ question.answer }}</div>
				</li>
			</ul>
		</div>
	</script>
	<script type="text/ng-template" id="/contact.html">
		<div class="page">
			<div class="bg"></div>
			<div class="title title-left">Contact</div>
			<div class="contact">Email: <a href="mailto:dreamemo.2017@gmail.com">dreamemo.2017@gmail.com<a></div>
		</div>
	</script>
  </body>
</html>