<ion-view view-title="Home">
	<ion-nav-bar class="bar-balanced">
		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-b"></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<!-- <ion-nav-buttons side="primary">
		<button type="button" ng-click="openHomeViewsPopover($event)" class="btn"><i class="ion-chevron-down" style="font-size: 2em;"></i></button>
	</ion-nav-buttons> -->
	<!-- <ion-nav-buttons side="secondary">
		<button type="button" ng-click="" class="btn"><i class="ion-android-options" style="font-size: 2em;"></i></button>
	</ion-nav-buttons> -->
	<ion-content>
	<ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshMe()"></ion-refresher>
		<ng-include src="template"></ng-include>
	</ion-content>
</ion-view>