<!-- BEGINNER CHINESE -->
<!-- 59b9d62db7bcaed219bec6cd -->
<!-- db.metacards.insert( { order: 0, course: ObjectId("59b9d62db7bcaed219bec6cd"), notes: "" }) -->

<!-- ORDER: 0 -->

<!-- 59ffa9dc470d264f255b7049 -->
<div class='metacard-title'>Pinyin Tones</div>
<p>Chinese is a language that uses different tone inflections to distinguish between similar characters. Every character has a tone and there are a total of five distinct tones. When the characters are represented in Pinyin, which is the standard way to depict the character phonetically, the tone is written with line(s) on top of the word.</p>
<h4><span style='width: 22%;'>ā</span> <span style='width: 22%;'>á</span> <span style='width: 22%;'>ǎ</span> <span style='width: 22%;'>à</span></h4>

<!-- 59ffaa93470d264f255b704a -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>First tone: <span>ā</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button></h4>
<p>The first tone is level, with a straight horizontal line.</p>
<ul class='hanyu-pinyin'>
    <li class='col-7'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-7'>
        <p class='pinyin'>bā</p>
        <p class='hanyu'>八</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>mā</p>
        <p class='hanyu'>妈</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yī</p>
        <p class='hanyu'>一</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>wān</p>
        <p class='hanyu'>弯</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>chū</p>
        <p class='hanyu'>出</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yōu</p>
        <p class='hanyu'>优</p>
    </li>
</ul>
<h4>Second tone: <span>á</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(2)'><i class='ion-volume-medium'></i></button></h4>
<p>The second tone rises in pitch, with an upward diagonal line.</p>
<ul class='hanyu-pinyin'>
    <li class='col-7'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(3)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-7'>
        <p class='pinyin'>bá</p>
        <p class='hanyu'>拔</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>má</p>
        <p class='hanyu'>麻</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yí</p>
        <p class='hanyu'>宜</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>wán</p>
        <p class='hanyu'>玩</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>chú</p>
        <p class='hanyu'>除</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yóu</p>
        <p class='hanyu'>由</p>
    </li>
</ul>

<!-- 59ffab28470d264f255b704b -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>Third tone: <span>ǎ</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button></h4>
<p>The third tone falls and rises, with a line that dips down and then up.</p>
<ul class='hanyu-pinyin'>
    <li class='col-7'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-7'>
        <p class='pinyin'>bǎ</p>
        <p class='hanyu'>把</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>mǎ</p>
        <p class='hanyu'>马</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yǐ</p>
        <p class='hanyu'>以</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>wǎn</p>
        <p class='hanyu'>晚</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>chǔ</p>
        <p class='hanyu'>楚</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yǒu</p>
        <p class='hanyu'>有</p>
    </li>
</ul>
<h4>Fourth tone: <span>à</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(2)'><i class='ion-volume-medium'></i></button></h4>
<p>The fourth tone falls in pitch, with a downward diagonal line.</p>
<ul class='hanyu-pinyin'>
    <li class='col-7'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(3)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-7'>
        <p class='pinyin'>bà</p>
        <p class='hanyu'>爸</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>mà</p>
        <p class='hanyu'>骂</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yì</p>
        <p class='hanyu'>易</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>wàn</p>
        <p class='hanyu'>万</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>chù</p>
        <p class='hanyu'>处</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>yòu</p>
        <p class='hanyu'>右</p>
    </li>
</ul>

<!-- 59ffab51470d264f255b704c -->
<div class='metacard-title'>Pinyin Tones</div>
<h4>Fifth tone: <span>a</span> <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button></h4>
<p>The fifth tone is a neutral-pitch tone. It is represented with no line.</p>
<ul class='hanyu-pinyin'>
    <li class='col-7'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-7'>
        <p class='pinyin'>ba</p>
        <p class='hanyu'>吧</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>ma</p>
        <p class='hanyu'>吗</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>de</p>
        <p class='hanyu'>的</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>me</p>
        <p class='hanyu'>么</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>le</p>
        <p class='hanyu'>了</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>ne</p>
        <p class='hanyu'>呢</p>
    </li>
</ul>

<!-- 59ffab7e470d264f255b704d -->
<div class='metacard-title'>Pinyin Alphabet</div>
<p>Now that you learned about the five different tones in Chinese, the next step is to combine the tones with the actual pronunciation of the characters. Certain consonant and vowel sounds are different than they are pronounced in English. For example, the 'q' sound is said with a 'ch' sound rather than a 'k' sound in Chinese.</p>

<!-- 59ffaba6470d264f255b704e -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Consonants</h4>
<ul class='hanyu-pinyin'>
    <li class='col-9'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-9'>
        <p class='pinyin'>b</p>
    </li>
    <li class='col-9'>
        <p class='pinyin'>p</p>
    </li>
    <li class='col-9'>
        <p class='pinyin'>m</p>
    </li>
    <li class='col-9'>
        <p class='pinyin'>f</p>
    </li>
    <li class='col-9'>
        <p class='pinyin'>d</p>
    </li>
    <li class='col-9'>
        <p class='pinyin'>t</p>
    </li>
    <li class='col-9'>
        <p class='pinyin'>n</p>
    </li>
    <li class='col-9'>
        <p class='pinyin'>l</p>
    </li>
</ul>
<ul class='hanyu-pinyin'>
    <li class='col-10'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-10'>
        <p class='pinyin'>g</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>k</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>h
            <p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>j</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>q</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>x</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>zh</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ch</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>sh</p>
    </li>
</ul>
<ul class='hanyu-pinyin'>
    <li class='col-7'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(2)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-7'>
        <p class='pinyin'>r</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>z</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>c</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>s</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>y</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>w</p>
    </li>
</ul>

<!-- QUIZ -->

<!-- 5a03aafc570201866e38278f -->
<div class='metacard-title'>Pinyin Alphabet</div>
<h4>Vowel Finals</h4>
<ul class='hanyu-pinyin'>
    <li class='col-10'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-10'>
        <p class='pinyin'>a</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ai</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>an</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ang</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ao</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>e</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ei</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>en</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>eng</p>
    </li>
</ul>
<ul class='hanyu-pinyin'>
    <li class='col-10'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-10'>
        <p class='pinyin'>er</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>i</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ia</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ian</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>iang</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>iao</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ie</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>in</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ing</p>
    </li>
</ul>
<ul class='hanyu-pinyin'>
    <li class='col-10'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(2)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-10'>
        <p class='pinyin'>iong</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>iu</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>o</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ong</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ou</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>u</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>ua</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>uai</p>
    </li>
    <li class='col-10'>
        <p class='pinyin'>uan</p>
    </li>
</ul>
<ul class='hanyu-pinyin'>
    <li class='col-7'>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(3)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-7'>
        <p class='pinyin'>uang</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>ue</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>ui</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>un</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>uo</p>
    </li>
    <li class='col-7'>
        <p class='pinyin'>ü</p>
    </li>
</ul>

<!-- 5a03ab5c570201866e382790 -->
<!-- 5a03aba9570201866e382791 -->
<!-- 5a06b3b366dc08738fb97cba -->
<!-- 5a06b4e666dc08738fb97cbb -->
<!-- 5a06b51166dc08738fb97cbc -->
<!-- 5a06b54666dc08738fb97cbd -->
<!-- 5a06b56266dc08738fb97cbe -->


<!-- ORDER: 4 -->

<!-- 5a0a332da635730013e0ffe9 -->
<div class='metacard-title'>Character Radicals</div>
<p>Even though you can type Chinese on a keyboard using Pinyin, writing Chinese is a different story. A Chinese radical is a graphical component of a Chinese character. Together, the radicals make up the written structure of the character, and often give it semantic or phonetic meaning. The shape and position of these radicals are also important.</p>
<h4><span style='width: 18%;'>亻</span> <span style='width: 18%;'>扌</span> <span style='width: 18%;'>也</span> <span style='width: 18%;'>⽑</span> <span style='width: 18%;'>⼏</span></h4>

<!-- 5a0a89c5a857210edbf9ce9b -->
<div class='metacard-title'>Character Radicals</div>
<h4>Radicals 1</h4>
<ul class='hanyu-pinyin'>
    <li class='col-3'>
        <p class='pinyin'>.....tā</p>
        <p class='hanyu'>亻 + 也 = 他</p>
        <p><span style='color: #00cc96;'>亻</span> person</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....tā</p>
        <p class='hanyu'>女 + 也 = 她</p>
        <p><span style='color: #00cc96;'>女</span> female</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....hǎo</p>
        <p class='hanyu'>女 + 子 = 好</p>
        <p><span style='color: #00cc96;'>子</span> child/son</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....wǎn</p>
        <p class='hanyu'>日 + 免 = 晚</p>
        <p><span style='color: #00cc96;'>日</span> sun</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....ān</p>
        <p class='hanyu'>宀 + 女 = 安</p>
        <p><span style='color: #00cc96;'>宀</span> roof</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....nán</p>
        <p class='hanyu'>田 + 力 = 男</p>
        <p><span style='color: #00cc96;'>力</span> strength</p>
    </li>
</ul>

<!-- 5a0a8f03a857210edbf9ce9c -->
<div class='metacard-title'>Character Radicals</div>
<h4>Radicals 2</h4>
<ul class='hanyu-pinyin'>
    <li class='col-3'>
        <p class='pinyin'>.....bà</p>
        <p class='hanyu'>尣 + 巴 = 爸</p>
        <p><span style='color: #00cc96;'>尣</span> father, <span style='color: #00cc96;'>巴</span> bā</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....mā</p>
        <p class='hanyu'>女 + 马 = 妈</p>
        <p><span style='color: #00cc96;'>女</span> female, <span style='color: #00cc96;'>马</span> mǎ</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....gē</p>
        <p class='hanyu'>可 + 可 = 哥</p>
        <p><span style='color: #00cc96;'>可</span> kě</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....nǐ</p>
        <p class='hanyu'>亻 + 尔 = 你</p>
        <p><span style='color: #00cc96;'>亻</span> person, <span style='color: #00cc96;'>尔</span> you</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....mēn</p>
        <p class='hanyu'>亻 + 门 = 们</p>
        <p><span style='color: #00cc96;'>亻</span> person, <span style='color: #00cc96;'>门</span> mén</p>
    </li>
    <li class='col-3'>
        <p class='pinyin'>.....jiā</p>
        <p class='hanyu'>宀 + 豕 = 家</p>
        <p><span style='color: #00cc96;'>宀</span> roof, <span style='color: #00cc96;'>豕</span> hog</p>
    </li>
</ul>

<!-- 5b240389097176ecbe1b3a31 -->
<div class='metacard-title'>Sentence formation</div>
<h4>Subject + 是 + object</h4>
<p>There are no conjugations in Chinese and sentences follow a pretty simple grammatical structure. In the present tense, to say that 'A is B,' you use the character for 'is' which is 是. However, when you are using an adjective instead of an object to describe the subject, the 是 is left out in the middle of the sentence.</p>
<ul class='hanyu-pinyin'>
    <li class='col-2'>
        <p class='pinyin'>tā shì nán hái</p>
        <p class='hanyu'>他 + 是 + 男孩。</p>
        <p class='translation'>He is a boy.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-2'>
        <p class='pinyin'>tā mén hěn máng</p>
        <p class='hanyu'>他们 + 很忙。</p>
        <p class='translation'>They are very busy.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5b2403f7097176ecbe1b3a32 -->
<div class='metacard-title'>Sentence formation</div>
<h4>Subject + 在 + gerund/place</h4>
<p>In the present tense, when you want to say that 'A is doing B,' you use 在. The verb that follows would be treated as a gerund in English. Since 在 also literally means 'is at' in Chinese, you can also say that 'A is at B,' given that B is a location.</p>
<ul class='hanyu-pinyin'>
    <li class='col-2'>
        <p class='pinyin'>wǒ zài chī píng guǒ</p>
        <p class='hanyu'>我 + 在 + 吃苹果。</p>
        <p class='translation'>I am eating an apple.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-2'>
        <p class='pinyin'>wǒ mén zài tú shū guǎn</p>
        <p class='hanyu'>我们 + 在 + 图书馆。</p>
        <p class='translation'>We are at the library.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- ORDER: 7 -->

<!-- 5b240671097176ecbe1b3a33 -->
<div class='metacard-title'>Sentence formation</div>
<h4>Subject + verb + object</h4>
<p>The general structure when a subject does something follows a simple pattern. However, the main verb oftentimes follows a helping verb, such as 在, when you are describing a subject doing a single action in the present. When the subject frequently does the action over a longer period of time, you eliminate the use of 在.</p>
<ul class='hanyu-pinyin'>
    <li class='col-3'>
        <p class='pinyin'>wǒ yào píng guǒ</p>
        <p class='hanyu'>我 + 要 + 苹果。</p>
        <p class='translation'>I want an apple.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-3'>
        <p class='pinyin'>wǒ mén bú zài chī yú</p>
        <p class='hanyu'>我们 + 不在 + 吃鱼。</p>
        <p class='translation'>We are not eating fish.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-3'>
        <p class='pinyin'>wǒ mén bù chī yú</p>
        <p class='hanyu'>我们 + 不 + 吃鱼。</p>
        <p class='translation'>We do not eat fish.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(2)'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- ORDER: 8 -->

<!-- 5b2409d1097176ecbe1b3a34 -->
<div class='metacard-title'>Sentence formation</div>
<h4>Subject + 不 + Verb + Object</h4>
<p>It is time to learn negation! When you are saying 'A is not B,' use the character 不 for not. It can also be used in front of an adjective to describe the semantic opposite of that adjective.</p>
<ul class='hanyu-pinyin'>
    <li class='col-3'>
        <p class='pinyin'>wǒ bú shì dì dì</p>
        <p class='hanyu'>我 + 不是 + 弟弟。</p>
        <p class='translation'>I am not the younger brother.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-3'>
        <p class='pinyin'>tā mén bú zài wán yóu xì</p>
        <p class='hanyu'>他们 + 不在 + 玩游戏。</p>
        <p class='translation'>We are not playing games.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-3'>
        <p class='pinyin'>wǒ bù cōng míng</p>
        <p class='hanyu'>我 + 不 + 聪明。</p>
        <p class='translation'>I am not smart.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(2)'><i class='ion-volume-medium'></i></button>
    </li>
</ul>

<!-- 5b240aeb097176ecbe1b3a35 -->
<div class='metacard-title'>Sentence formation</div>
<h4>Subject + 没有 + Noun/Verb</h4>
<p>Another way to express negation is with 没, which roughly translates to meaning 'none.' When used with 有, meaning 'to have.' it means 'to not have.' Thus, when you say 'A does not have B,' you use the characters 没有.</p>
<ul class='hanyu-pinyin'>
    <li class='col-2'>
        <p class='pinyin'>wǒ méi yǒu jiě jiě</p>
        <p class='hanyu'>我 + 没有 + 姐姐。</p>
        <p class='translation'>I do not have an older sister.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(0)'><i class='ion-volume-medium'></i></button>
    </li>
    <li class='col-2'>
        <p class='pinyin'>wǒ mén méi yǒu shí jiān le</p>
        <p class='hanyu'>我们 + 没有 + 时间了。</p>
        <p class='translation'>We do not have time.</p>
        <button class='btn btn-play-meta-audio' ng-click='playMetaCardAudio(1)'><i class='ion-volume-medium'></i></button>
    </li>
</ul>
