<div class="instructions animated bounceIn">Choose the translation</div>
<div class="phrase animated bounceIn" ng-hide="vars.language">
	{{ randomCard.frontphrase }}
</div>
<div class="phrase animated bounceIn" ng-show="vars.language">
	{{ randomCard.backphrase }}
</div>
<div class="choices" ng-hide="vars.language">
	<ul>
		<li ng-repeat="choice in choices">
			<div class="choice animated bounceIn" ng-click="checkChoice('front', choice.backphrase)">{{ choice.backphrase }}</div>
		</li>
	</ul>
</div>
<div class="choices" ng-show="vars.language">
	<ul>
		<li ng-repeat="choice in choices">
			<div class="choice animated bounceIn" ng-click="checkChoice('back', choice.frontphrase)">{{ choice.frontphrase }}</div>
		</li>
	</ul>
</div>