<ion-view view-title="Following">
	<ion-nav-bar class="bar-balanced">
		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-b"></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<ul class="list">
	        <li ng-repeat="user in user.following">
	        	<user></user>
	        </li>
	    </ul>
	    <div class="empty-tab" ng-show="emptyFollowing">
			<i class="ion-sad-outline" style="font-size: 5em;"></i>
			<h2>You Don't Follow Anyone.</h2>
			<p>Get started by following other users.</p>
		</div>
	</ion-content>
</ion-view>