	<div class="view-card-container">
		<card>
			<front-body>
				<social-buttons></social-buttons>
			</front-body>
			<back-body>
				<social-buttons></social-buttons>
			</back-body>
		</card>
		<comments></comments>
		<magic></magic>
	</div>
		<!-- <div class="magic-panel">
  			<h4>Magic</h4>
  			<ul class="card-list">
  				<li class="preview-card" style="margin-bottom: 0px; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url({{ card.img }});">
					<div class="preview-card-title" style="color: {{  }}">{{  }}</div>
					<div class="preview-card-subtitle" style="color: {{  }}">{{  }}</div>
				</li>
  			</ul>
  		</div> -->
	<!-- </ion-content> -->
<!-- </ion-modal-view> -->
<!-- </ion-view> -->