<h4 class="information-trans">Information</h4>
<div class="form-group row">
	<label for="card-deck" class="col-xs-2 form-control-label deck-trans">Deck</label>
	<button type="button" class="btn addDeckCourse addDeck" ng-click="openAddDeckPopover($event)"><i class="ion-help-circled"></i></button>
	<select name="Deck" class="form-control" ng-model="card.deck" id="card-deck">
		<option value=null>None</option>
		<option ng-repeat="deck in myDecks | authoredBy: currentUser.username" value="{{ deck.content }}">{{ deck.content.name }}</option>
	</select><!--  - {{ getCourseOfDeck(deck) }} -->
</div>
<div class="form-group row">
	<label for="front-lang"
		class="col-xs-3 form-control-label front-trans">Front</label>
	<select name="Language"
		class="form-control" id="front-lang"
		ng-model="card.frontlang" ng-disabled="card.deck != 'null'">
		<option ng-repeat="lang in languages" value="{{lang.name}}">{{updateLang(lang.name)}}</option>
	</select>
</div>
<div class="form-group row">
	<label for="back-lang"
		class="col-xs-3 form-control-label back-trans">Back</label>
	<select name="Language"
		class="form-control" id="back-lang"
		ng-model="card.backlang" ng-disabled="card.deck != 'null'">
		<option ng-repeat="lang in languages" value="{{lang.name}}">{{updateLang(lang.name)}}</option>
	</select>
</div>
<div class="form-group row">
	<label class="item item-input item-select my-select">
		<div class="input-label categories-trans">Categories</div>
		<select ng-model="card.categories" multiple ng-disabled="card.deck != 'null'">
			<option ng-repeat="category in categories" value="{{ category.name }}">{{updateLang(category.name)}}</option>
		</select>
    </label>
</div>
<div class="form-group row">
	<label for="tags"
		class="col-xs-3 form-control-label tags-trans">Tags</label>
	<div class="input-group col-xs-9">
		<input type="text" class="form-control" placeholder="Add tags"
			id="tags" data-role="tagsinput" value=""></input>
	</div>
</div>