<div class="text-edit-popover">
	    <span><button type="button" class="btn" ng-click="editCardText('font')"><i class="fa fa-font"></i></button></span>
	    <span ng-show="showEditCardText.showFont">
	    	<select name="Style" id="style"
				ng-model="card.fontstyle">
				<option value="American Typewriter">American Typewriter</option>
				<option value="Arial">Arial</option>
				<option value="Bradley Hand">Bradley Hand</option>
				<option value="Chalkduster">Chalkduster</option>
				<option value="Copperplate">Copperplate</option>
				<option value="Courier">Courier</option>
				<option value="Futura">Futura</option>
				<option value="Georgia">Georgia</option>
				<option value="Gill Sans">Gill Sans</option>
				<option value="Helvetica">Helvetica</option>
				<option value="Menlo">Menlo</option>
				<option value="Papyrus">Papyrus</option>
				<option value="Snell Roundhand">Snell Roundhand</option>
				<option value="Times New Roman">Times New Roman</option>
				<option value="Verdana">Verdana</option>
			</select>
	    </span>
	    <span><button type="button" class="btn" ng-click="editCardText('size')"><i class="fa fa-text-height"></i></button></span>
		<span ng-show="showEditCardText.showSize">
			<button class="btn btn-gray" ng-click="decrSize()" style="display: inline;"><i class="ion-chevron-down"></i></button>
			<span id="font-size" style="display: inline;">{{ card.fontsize }} px</span>
			<button class="btn btn-gray" ng-click="incrSize()" style="display: inline;"><i class="ion-chevron-up"></i></button>
		</span>
	    <span ng-show="showEditCardText.showAudio"><button type="button" class="btn" ng-click="editCardText('audio')"><i class="fa fa-microphone"></i></button></span>
	    <span ng-hide="showEditCardText.showAudio"><button type="button" class="btn"><i class="fa fa-microphone-slash"></i></button></span>
</div>