<div class="settings-page">
		<h3>About</h3>
		<p>Version 1.0.0</p>
		<p>2017-2018</p>
		<div>Verze is an online language-learning platform that integrates
			interactive flashcards with social communities
			to provide users with the best learning experience possible.</div>
		<div>Our mission is to connect the entire world and to build a more
			diverse and inclusive community. We hope that we can grow
			our collection of content and create an effective educational
			environment where users from all around the globe have the freedom
			to learn any language and culture.</div>
		<div>Thank you for supporting us.</div>
	</div>