
	<div class="settings-page">
		<h3>Help</h3>
		<h4>For more inquiries: email <a href="mailto:verze.help@gmail.com">verze.help@gmail.com</a>.</h4>
		<div>
			<ul>
				<li><strong>How do you learn a deck or course?</strong>
					<br>
					Click on the deck or course you want to learn. You should be taken to
					the deck or course where you can view its content and information.
					To start learning its content, click on the blue play button in the
					bottom right corner of the window. It will take you to the card
					learning mode.
				</li><br>
				<li><strong>How can you keep track of your progress?</strong>
					<br>
					When you start learning the deck or course, the deck or course
					will automatically be saved. Once it is saved, your progress
					will be tracked. There is a progress bar located underneath
					the save button of the deck or course.
					While you are in the learning, review, or final mode of the deck or course,
					there is also a progress bar at the bottom of the window.
				</li><br>
				<li><strong>How do you create content?</strong>
					<br>
					Click on <em>Create</em> and choose
					which type of content you would like to create. The hierarchy of content
					is typically: <em>Courses > Decks > Cards</em>. Decks and cards can be created
					without being in a course and deck respectively.
				</li><br>
				<li><strong>Can you delete your account?</strong>
					<br>
					As of now, the function is currently unavailable. However, if you wish
					to delete your account, email <a href="mailto:verze.help@gmail.com">verze.help@gmail.com</a> and we can get your
					account manually removed from the database.
				</li><br>
				<li><strong>I have been noticing a lot of bugs in the app. What can I do?</strong>
					<br>
					We always appreciate constructive feedback from our users,
					especially when we need to hear about crucial problems in our app.
					Please report the problem as soon as possible
					so we can get it fixed. :)
				</li><br>
			</ul>
		</div>
	</div>