<div class="keyboard any type">
	<div class="row">
		<div class="key white" ng-repeat="char in characters track by $index">
			<span>{{ char }}</span>
			<div class="popout">
				<div class="head"></div>
				<div class="neck"></div>
			</div>
		</div>
            <div class="key gray" style="float:right;">
                <span>&#9003;</span>
            </div>
	</div>
	<div class="row">
		<div class="key white">
			<span>space</span>
		</div>
		<div class="key gray btn-success" ng-click="checkChoice()">
			<span>enter</span>
		</div>
	</div>
</div>